body{
    background-color: #E2DCC8;
}
h1{
    font-family: 'Tektur', cursive;
}
p{
    margin: 20px;
    word-spacing: 3px;
    font-family: 'Victor Mono', monospace;
}
#head{
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: none;
    color: blue;
}
a{
    text-decoration: none;
}
footer{
    text-align: center;
    font-family: 'Tektur', cursive;
}