body {
    background-color: #E2DCC8;
    font-family: 'Barbie', sans-serif;
}

h1 {
    font-family: 'Barbie', sans-serif;
    color: rgb(236, 67, 153);
}

p {
    margin: 20px;
    word-spacing: 3px;
    font-family: 'Victor Mono', monospace;
}

#head {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: none;
    color: rgb(236, 67, 153);
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-family: 'Tektur', cursive;
}